#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "${upstream_dir}/opt/onlyoffice" /opt/onlyoffice
    ln -fns "${upstream_dir}/usr/bin/onlyoffice-desktopeditors" /usr/bin/onlyoffice-desktopeditors
    ln -fns "${upstream_dir}/usr/share/applications/onlyoffice-desktopeditors.desktop" /usr/share/applications/onlyoffice-desktopeditors.desktop
    ln -fns "${upstream_dir}/usr/bin/onlyoffice-desktopeditors" /usr/bin/onlyoffice-desktopeditors
    ln -fns "${upstream_dir}/opt/asc-de-48-png" /usr/share/pixmaps/onlyoffice-desktopeditors
    
    ;;
  unconfigure)
    rm -f /opt/onlyoffice \
          /usr/bin/onlyoffice-desktopeditors \
          /usr/share/applications/onlyoffice-desktop-editors.desktop \
          /usr/bin/desktopeditors \
          /usr/share/pixmaps/onlyoffice-desktopeditors
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    dpkg -x "$upstream_pack" "$upstream_dir"
    ;;
  *)
    ;;
esac
