#!/bin/sh

set -eu



command=$1
shift



case "${command}" in
    configure)
	upstream_dir=$1
	
        ln -fns "$upstream_dir/bin/Typora-linux-x64/" /opt/typora
        cat <<EOF > /usr/local/bin/typora       
#/bin/sh
/opt/typora/Typora
EOF
        chmod +x /usr/local/bin/typora
	cat <<EOF > /usr/share/applications/typora.desktop
[Desktop Entry]
Name=Typora
Comment=Markdown Editor
Exec=/usr/local/bin/typora
Terminal=false
Type=Application
Icon=/opt/typora/resources/assets/icon/icon_128x128.png
Categories=Office
Keywords=Markdown;Text;Editor
EOF
	;;
    
    unconfigure)
	upstream_dir="$1"

	rm -f /opt/typora
	rm -f /usr/local/bin/typora
	rm -f /usr/share/applications/typora.desktop
	
	;;
    
    unpack)
	upstream_pack=$1
	upstream_dir=$2

	tar -x -z -f "${upstream_pack}" -C "${upstream_dir}" 

	;;
    
    *)
	;;
esac
