#!/bin/sh

set -eu

command=$1
shift

case "$command" in
  configure)
    upstream_dir=$1

    ln -fns "$upstream_dir/xournalpp" /opt/xournalpp
    ln -fns "$upstream_dir/xournalpp/xournalpp.png" /usr/share/icons/xournalpp.png
    cat <<EOF > /usr/share/applications/lumi.desktop
[Desktop Entry]
Name=Xournalpp
Exec=xournalpp
Type=Application
Terminal=false
Icon=/usr/share/icons/xournalpp.png
StartupNotify=true
X-AppImage-Integrate=false
Categories=Education;
EOF

       cat <<EOF > /usr/local/bin/xournalpp
#!/bin/sh
export APPIMAGELAUNCHER_DISABLE=true
/opt/xournalpp/xournalpp.AppImage                                                                            
EOF
   chmod +x /usr/local/bin/xournalpp
    ;;
  unconfigure)
    rm -f /opt/xournalpp \
          /usr/share/applications/xournalpp.desktop \
          /usr/share/icons/xournalpp-png
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2

    mkdir -p "${upstream_dir}/xournalpp"
    cp -p "$upstream_pack" "${upstream_dir}/xournalpp/xournalpp.AppImage"
    chmod 755 "${upstream_dir}/xournalpp/xournalpp.AppImage"
    cp -p ./xournalpp.png "$upstream_dir/xournalpp/"
    ;;
  *)
    ;;
esac
