#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
    configure)
	upstream_dir=$1

	ln -fns "${upstream_dir}" /opt/lehreroffice

	cat <<EOF > /usr/share/applications/lehreroffice.desktop
[Desktop Entry]
Terminal=false
Exec=/opt/lehreroffice/LehrerOffice
Icon=/opt/lehreroffice/appicon_48.png
Type=Application
Categories=Office
StartupNotify=false
Name=LehrerOffice
GenericName=LehrerOffice
EOF

	cat <<EOF > /usr/bin/lehreroffice
#!/bin/sh
/opt/lehreroffice/LehrerOffice
EOF
	chmod +x /usr/bin/lehreroffice
	;;
    
    unconfigure)
	rm -rf /opt/lehreroffice 
	rm /usr/share/applications/lehreroffice.desktop 
	rm /usr/bin/lehreroffice	 
	;;
    unpack)
	upstream_pack=$1
	upstream_dir=$2

	tar -x -z -f "${upstream_pack}" -C "${upstream_dir}" 
	;;
    *)
	;;
esac
