#!/bin/sh

set -eu

command=$1
shift

case "$command" in
  configure)
    upstream_dir=$1

    ln -fns "$upstream_dir/appimagelauncher" /opt/appimagelauncher

    cat <<'EOF' > /etc/profile.d/appimagelauncher.sh
LOC="$HOME/.config/systemd/user/default.target.wants/appimagelauncherd.service"
if test "$(puavo-conf puavo.profiles.list)" = "laptop,personal"; then
   if ! test -h $LOC; then
      /opt/appimagelauncher/appimagelauncher.AppImage install
   fi
fi
EOF
  
    ;;

  unconfigure)
      rm -f /opt/appimagelauncher
      rm -f /etc/profile.d/appimagelauncher.sh
    ;;

  unpack)
    upstream_pack=$1
    upstream_dir=$2

    mkdir -p "$upstream_dir/appimagelauncher"
    cp -p "$upstream_pack" "${upstream_dir}/appimagelauncher/appimagelauncher.AppImage"
    chmod 755 "${upstream_dir}/appimagelauncher/appimagelauncher.AppImage"
    ;;
  *)
    ;;
esac
